@CHARSET "UTF-8";

#content{
	width:400px;
	margin-left: auto;
	margin-right: auto;
}
#loginForm, #registerForm{
	background-color: gray;
}
#loginForm input, #registerForm input{
	width:200px;
}
#loginForm label, #registerForm label{
    display:inline-block;
    width:100px;
}
#loginForm .submit, #registerForm submit{
    width: 80px;	
    margin-left: 10px;
}
	
.formRow{
	padding:10px;
}